* {
  box-sizing: border-box;
}

.window {
  position: relative;
  padding: 2px;
  background: #cecece;
  box-shadow: -1px -1px 0px 0px #ffffff, 0px -1px 0px 0px #ffffff,
    -1px 0px 0px 0px #ffffff, 1px 1px 0px 0px #9c9c9c, 1px 0px 0px 0px #9c9c9c,
    0px 1px 0px 0px #9c9c9c, 1px -1px 0px 0px #cecece, -1px 1px 0px 0px #cecece,
    0px 0px 0px 2px #000000;
}

@function title-bar-text-shadow() {
  $box-shadow: '';
  @for $i from 1 through 6 {
    $shadows: '0px ' +
      ($i * 2 - 1) +
      'px 0px 0px #ffffff, 1px ' +
      ($i * 2) +
      'px 0px 0px #737373';
    $box-shadow: $box-shadow + $shadows + ', ';
  }
  @return str_slice(unquote($box-shadow), 0, str_length($box-shadow)-2);
}

.title-bar {
  display: flex;
  align-items: center;
  padding-right: 1px;

  .title-bar-text {
    display: flex;
    align-items: center;
    font-size: 9px;
    flex: 1;
    margin: 0 2px;

    &:after,
    &:before {
      content: '';
      display: block;
      flex: 1;

      height: 1px;
      margin: 0 3px;
      margin-bottom: 13px;

      box-shadow: title-bar-text-shadow();
    }
  }

  .title-bar-controls {
    line-height: 1px;
    margin-top: 1px;

    button {
      padding: 0;
      border: 1px solid #212121;
      background: linear-gradient(135deg, #9c9c9c 0%, #ffffff 100%);
      box-shadow: -1px -1px 0px 0px #8c8c8c, 1px 1px 0px 0px #ffffff,
        inset 1px 0px 0px 0px #cecece, inset 0px 1px 0px 0px #cecece,
        inset -1px -1px 0px 0px #8c8c8c;
      width: 11px;
      height: 11px;
      position: relative;
      margin-left: 1px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        background: #ffffff;
      }
    }
  }
}
